/* CSS for simple.html (Leaflet) */


.container{
	border-style: double;
	border-radius: 15px;
	background-color: #98FB98;
}
.header{

	margin-top:20px;
	margin-bottom: 10px;
	text-align: center;
	
	height: 108px;


}
.header h1{
	
	margin-top:10px;
	font: oblique bold 360% cursive; 

	color:red;
	
}
.main{
	min-height: 700px;
}

#map{
	margin-top:40px;
	height: 400px;
}

#desc{
	margin-top:10px;
	min-height: 400px;
}


#get{
	height: 30px;
	width: 275px;
	margin-top: 5px;
	text-align: center;
}
#list{
	margin-top: 5px;
	width: 275px;
	height: 500px;
	overflow: scroll;
}
#get, #list, #map, #desc{
	border-style: double;
	border-radius: 15px;
	background-color: #FFEFD5;
}
