.container{
	border-style: double;
	border-radius: 15px;
	background-color: #98FB98;
}
.header{

	margin-top:20px;
	margin-bottom: 15px;
	text-align: center;
	min-height: 108px;


}
.header h1{

	font: oblique bold 360% cursive;

}
#ctabs{
	border-style: double;
	border-radius: 15px;
	margin-bottom: 6px;
	background-color: white;
	border-style: none;

}
#banner{
	cursor: pointer;
}
.main{
	min-height: 700px;
}

#map{
	margin-top:40px;
	height: 400px;
}

#desc{
	margin-top:10px;
	min-height: 400px;
}


#get{
	height: 30px;
	width: 275px;
	margin-top: 5px;
	text-align: center;
}
.list{
	margin-top: 5px;
	width: 275px;
	height: 500px;
	overflow-y: scroll;
	overflow-x:
}

#list_home li:hover, #get{
	cursor: pointer;
  background-color: yellow;

}
#get, .list, .list2, #map, #desc, form{
	border-style: double;
	border-radius: 15px;
	background-color: #FFEFD5;
}


#carousel{
	width: 79%;
	margin-left: 11%;
	margin-bottom: 5px;
}

#delete{
	background-image: url(images/delete.jpg);
	background-repeat:no-repeat;
	height:20px;
	width:20px;
	background-size:19px;
	background-position:center;
	float: right;
}

/*pestaña de coleciones*/
.list2{
		overflow-y: scroll;
		margin-top:10px;
}
#list_col_2{
	margin-left:15px;
	height: 371px;

}
#list_col_3{
	height: 495px

}
form{
	margin-left:15px;
}
#newcol{  /*mejorar esto a una linea*/
	margin-top: 5px;
	margin-left:10px;
	margin-right: 10px;
	margin-bottom: 5px;

}
